<% title 'Dashboard' %>
<p>
  <strong><%= Shop.all.count %></strong> Shops with <strong><%= User.all.count %></strong> Users, <strong><%= Product.all.count %></strong> Products.<br />
  <strong><%= OptionGroup.all.count %></strong> Option Groups with <strong><%= Option.all.count %></strong> Options.
  <strong><%= OrderGroup.all.count %></strong> Orders for <strong><%= Order.all.count %></strong> Products.<br />
</p>

<table class="admin" id="tasks">
  <thead>
    <th />
    <th>Tasks</th>
    <th />
  </thead>
  <tbody id="tasks_list">
    <% @tasks.each do |task| %>
      <tr id="<%= dom_id(task) %>" class="<%= cycle('odd', 'even') %>">
        <% if task.completed %>
          <td />
          <td><del><%= task.text %></del></td>
          <td><%= task.updated_at.to_s(:short) %></td>
        <% else %>
          <td class="handle">[drag]</td>
          <td><%= link_to(task.text, edit_task_path(task)) %></td>
          <td>
            <%= link_to('Complete', complete_task_path(task)) %> /
            <%= link_to('Delete', task_path(task), :confirm => "Delete task #{task.id}?", :method => :delete) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr><td colspan="3"><%= link_to('Add task', new_task_path) %></td></tr>
  </tbody>
</table>

<table class="admin" id="changes">
  <thead>
    <th>ID</th>
    <th>Changes</th>
  </thead>
  <tbody>
    <% @changes.each do |change| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to(change.id, edit_change_path(change)) %></td>
        <td><%= change.text %></td>
      </tr>
    <% end %>
    <tr><td colspan="2"><%= link_to('Add change', new_change_path) %></td></tr>
  </tbody>
</table>

<%= @admin.text %>
<%= link_to('Edit', edit_admin_path(@admin)) %>
<%= sortable_element('tasks_list', :tag => 'tr', :url => sort_tasks_path) %>
