<% title 'Dashboard' %>
<p>
  <strong><%= Shop.all.count %></strong> Shops with <strong><%= User.all.count %></strong> Users, <strong><%= Product.all.count %></strong> Products.<br />
  <strong><%= OptionGroup.all.count %></strong> Option Groups with <strong><%= Option.all.count %></strong> Options.<br />
  <strong><%= OrderGroup.all.count %></strong> Orders for <strong><%= Order.all.count %></strong> Products.
</p>

<table class="admin" id="tasks">
  <thead>
    <th />
    <th><%= count(@tasks) %></th>
    <th />
  </thead>
  <tbody id="tasks_list">
    <tr><td colspan="3"><%= link_to('Add task', new_task_path) %></td></tr>
    <%= render @tasks %>
  </tbody>
</table>

<table class="admin" id="changes">
  <thead>
    <th>ID</th>
    <th>Changes</th>
  </thead>
  <tbody>
    <tr><td colspan="2"><%= link_to('Add change', new_change_path) %></td></tr>
    <% @changes.each do |change| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to(change.id, edit_change_path(change)) %></td>
        <td><%= change.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= @admin.text %>
<%= link_to('Edit', edit_admin_path(@admin)) %>
<%= sortable_element('tasks_list', :tag => 'tr', :url => sort_tasks_path) %>
