<% semantic_form_for(@shop, :html => { :multipart => true }) do |f| %>
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :link, :hint => "http://shop.baze.dk/<em>#{@shop.link || 'link'}</em>" %>
    <%= f.input :logo %>
    <%= f.input :username_text %>
    <%= f.input :password_text, :as => :string %>
    <%= f.input :text %>
    <%= f.input :currency %>
    <%= f.input :closed %>
  <% end %>
  <% unless @shop.new_record? %>
    <% f.inputs do %>
      <li>
        <%= f.label :categories %>
        <ol id="categories_tree">
          <% @shop.categories.roots.all(:order => 'position').each do |root| %>
            <%= render :partial => 'categories/tree', :locals => { :category => root } %>
          <% end %>
        </ol>
      </li>
      <%= link_to_new('category', new_shop_category_path(@shop)) %>
    <% end %>
  <% end %>
  <%= f.buttons %>
<% end %>
<%= sortable_element_reporting_target(
  'categories_tree', 'moved_category_id', :handle => 'handle', :tree => true,
  :url => sort_shop_categories_path(@shop)) %>
