<% semantic_form_for(@shop, :html => { :multipart => true }) do |f| %>
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :link, :hint => "http://shop.baze.dk/<em>#{@shop.link || 'link'}</em>" %>
    <%= f.input :logo %>
    <%= f.input :logo_box %>
    <%= f.input :username_text %>
    <%= f.input :password_text, :as => :string %>
    <%= f.input :text %>
    <%= f.input :receipt_text %>
    <%= f.input :currency %>
    <%= f.input :color %>
    <%= f.input :css, :label => 'Custom CSS' %>
    <%= f.input :correspondent %>
    <%= f.input :public %>
    <%= f.input :closed %>
  <% end %>
  <% unless @shop.new_record? %>
    <% f.inputs do %>
      <li>
        <%= f.label :categories %>
        <ol id="categories_tree">
          <% @shop.categories.roots.all(:order => 'position').each do |root| %>
            <%= render :partial => 'categories/tree', :locals => { :category => root } %>
          <% end %>
        </ol>
      </li>
      <%= link_to_new('category', new_shop_category_path(@shop)) %>
    <% end %>
    <% f.inputs do %>
      <li>
        <%= f.label :user_groups %>
        <ol id="user_groups">
          <% @shop.user_groups.all.each do |user_group| %>
            <li>
              <%= link_to(user_group.name, edit_shop_user_group_path(@shop, user_group)) %>
              (<%= link_to('delete', shop_user_group_path(@shop, user_group), :confirm => "Delete user group\n#{user_group.name}?", :method => :delete) %>)
            <li>
          <% end %>
        </ol>
      </li>
    <% end %>
    <%= link_to_new('user group', new_shop_user_group_path(@shop)) %>
    <% f.inputs do %>
      <li>
        <%= f.label :fields %>
        <ol>
          <% @shop.fields.all.each do |field| %>
            <li>
              <%= link_to(field.text, edit_shop_field_path(@shop, field)) %>
              (<%= link_to('delete', shop_field_path(@shop, field), :confirm => "Delete field\n#{field.text}?", :method => :delete) %>)
            </li>
          <% end %>
        </ol>
      </li>
    <% end %>
    <%= link_to_new('field', new_shop_field_path(@shop)) %>
    <% f.inputs do %>
      <li>
        <%= f.label :addresses %>
        <ol id="addresses">
          <% @shop.addresses.all(:order => 'position').each do |address| %>
            <% content_tag_for(:li, address) do %>
              <span class="handle">[drag]</span>
              <%= link_to(address.text.gsub("\r\n", ', '), edit_shop_address_path(@shop, address)) %>
              (<%= link_to('delete', shop_address_path(@shop, address), :confirm => "Delete address\n#{address.text}?", :method => :delete) %>)
            <% end %>
          <% end %>
        </ol>
      </li>
    <% end %>
    <%= link_to_new('address', new_shop_address_path(@shop)) %>
    <% f.inputs do %>
      <li>
        <%= f.label :email_addresses, :label => 'Manager email addresses' %>
        <ol id="email_addresses">
          <% @shop.email_addresses.all(:order => 'position').each do |email_address| %>
            <% content_tag_for(:li, email_address) do %>
              <span class="handle">[drag]</span>
              <% if email_address.net %><b><% end %>
              <%= link_to([email_address.name, "&lt;#{email_address.text.gsub("\r\n", ', ')}&gt;"].join(' '), edit_shop_email_address_path(@shop, email_address)) %>
              <% if email_address.net %></b><% end %>
              (<%= link_to('delete', shop_email_address_path(@shop, email_address), :confirm => "Delete email address\n#{email_address.text}?", :method => :delete) %>)
            <% end %>
          <% end %>
        </ol>
      </li>
    <% end %>
    <%= link_to_new('email address', new_shop_email_address_path(@shop)) %>
  <% end %>
  <%= f.buttons %>
<% end %>
<%= sortable_element_reporting_target(
  'categories_tree', 'moved_category_id', :handle => 'handle', :tree => true,
  :url => sort_shop_categories_path(@shop)) %>
<%= sortable_element('addresses', :url => sort_shop_addresses_path(@shop)) %>
<%= sortable_element('email_addresses', :url => sort_shop_email_addresses_path(@shop)) %>
