<h1><%= @shop.name %></h1>
<% if @shop.closed %>
  <%= @shop.text %>
<% else %>
  <% form_tag({ :action => :login }, :class => 'formtastic') do %>
    <fieldset>
      <ol>
        <li>
          <%= label :user_session, @shop.username_text %>
          <%= text_field_tag :username %>
        </li>
        <li>
          <%= label :user_session, @shop.password_text %>
          <%= password_field_tag :password %>
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <ol><li><%= submit_tag 'Log in' %> </li></ol>
  <% end %>
<% end %>
