<% tr_for_sortable_element(task) do %>
  <% if task.completed %>
    <td class="completed text" title="<%= task.name_and_text %>"><%= task.name %></td>
    <td class="time"><%= task.updated %></td>
  <% else %>
    <td class="text" title="<%= task.name_and_text %>">
      <%= link_to(task.name, edit_task_path(task)) %>
      <%= task.and_text %>
    </td>
    <td class="action">
      <%= link_to('&#x2714;', complete_task_path(task), :confirm => 'Complete?') %>
      <%= link_to_delete(task) %>
    </td>
  <% end %>
<% end %>
