<% title 'List all templates' %>
<%= link_to_new('template', new_template_path) %>

<% form_tag({ :action => :multiple }, :class => 'index') do %>
  <%= submit_tag 'Delete', :name => 'destroy' %>
  <select onchange="this.form.submit()" name="shop_id">
    <option value="0">Add to shop...</option>
    <option disabled="disabled" />
    <% @shops.each do |shop| %>
      <option value="<%= shop.id %>"><%= shop.name %></option>
    <% end %>
  </select>

  <table>
    <thead>
      <tr>
        <th class="checkbox"><input class="checkbox" id="check_all" onclick="$$('form input.checkbox').each(function(box){box.checked=$('check_all').checked})" type="checkbox"></th>
        <th>Name</th>
        <th>Number</th>
        <th>Brand</th>
        <th>Shops</th>
        <th>Images</th>
      </tr>
    </thead>
    <tbody>
      <% @templates.each do |template| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="checkbox"><%= check_box_tag('template_ids[]', template.id, false, :class => 'checkbox') %></td>
          <td class="name"><%= link_to(template.name, edit_template_path(template)) %>
          <td><%= template.number %></td>
          <td><%= template.brand %></td>
          <td><%= template.products.collect { |p| link_to(p.shop.name, shop_products_path(p.shop)) }.flatten.join(', ') %></td>
          <td><%= template.images.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
