<tr class="<%= cycle('odd', 'even') %>">
  <td class="checkbox">
    <%= check_box_tag('option_group_ids[]', option_group.id) %>
  </td>
  <td class="name"><%= link_to(option_group.name, edit_option_group_path(option_group)) %>
  <td><%= option_group.text %></td>
  <td><%= option_group.options.count %></td>
  <td><%= option_group.created %></td>
  <td><%= option_group.updated %></td>
</tr>
