<% title 'List all option groups' %>
<%= link_to_new('option group', new_option_group_path) %>

<% form_tag({ :action => :multiple }, :class => 'index') do %>
  <%= submit_tag 'Delete', :name => 'destroy' %>
  <table>
    <thead>
      <tr>
        <th />
        <th class="checkbox"><input class="checkbox" id="check_all" onclick="$$('form input.checkbox').each(function(box){box.checked=$('check_all').checked})" type="checkbox"></th>
        <th>Name</th>
        <th>Text</th>
        <th>Options</th>
        <th>Optional</th>
      </tr>
    </thead>
    <tbody id="option_groups_list">
      <% @option_groups.each do |option_group| %>
        <tr id="<%= dom_id(option_group) %>" class="<%= cycle('odd', 'even') %>">
          <td class="handle">[drag]</td>
          <td class="checkbox"><%= check_box_tag('option_group_ids[]', option_group.id, false, :class => 'checkbox') %></td>
          <td class="name"><%= link_to(option_group.name, edit_option_group_path(option_group)) %>
          <td><%= option_group.text %></td>
          <td><%= option_group.options.count %></td>
          <td><%= option_group.optional ? 'Optional' : nil %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= sortable_element('option_groups_list', :tag => 'tr', :url => sort_option_groups_path) %>
