<% semantic_form_for @shop ? [@shop, @user] : @user do |f| %>
  <% f.inputs do %>
    <li><%= label_tag :shop %>
    <% if @shop %>
      <%= @shop.name %></li>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :department %>
      <%= f.input :login %>
      <%= f.input :password, :as => :string %>
      <%= f.input :budget %>
      <%= f.input :text %>
    <% else %>
      <select onchange="location='/shops/'+options[selectedIndex].value+'/users/new'">
        <option>Select shop...</option>
        <option disabled="disabled">
        <% @shops.each do |shop| %>
          <option value="<%= shop.link %>"><%= shop.name %></option>
        <% end %>
      </select>
    <% end %>
  <% end %>
  <%= f.buttons if @shop %>
<% end %>
