<tr class="<%= cycle('odd', 'even') %>">
  <td class="checkbox"><input type="checkbox"></td>
  <td class="name"><%= link_to([user.first_name, user.last_name].join(' '), edit_user_path(user)) %></td>
  <td><%= "#{user.shop.name} (#{user.department})" %></td>
  <td><%= user.username %></td>
  <td><%= user.password %></td>
  <td><%= user.created %></td>
  <td><%= user.updated %></td>
</tr>
