<% title(list_users_text) %>
<%= link_to_add_user %>
<%= link_to_import_users %>
<%= link_to 'Export users', shop_users_path(@shop) + '.csv?' + Time.new.to_i.to_s %>

<% form_tag({ :action => :multiple }, :class => 'index') do %>
  <%= submit_tag_delete %>
  <table>
    <thead>
      <tr>
        <%= th_check_box %>
        <th>Name</th>
        <th><%= @shop ? 'Department' : 'Shop' %></th>
        <th>Group</th>
        <th>Manager</th>
        <th>Username</th>
        <th>Password</th>
        <th>Orders</th>
        <th>Budget</th>
        <th>Balance</th>
        <th />
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
<% end %>
