<% title "List products for #{@shop.name}" %>
<%= link_to('Add products', products_path) %>

<% form_tag("/shops/#{@shop.id}/categorizations/multiple", :class => 'index') do %>
  <%= submit_tag 'Delete', :name => 'destroy' %>
  <table>
    <thead>
      <tr>
        <th class="checkbox"><input class="checkbox" id="check_all" onclick="$$('form input.checkbox').each(function(box){box.checked=$('check_all').checked})" type="checkbox"></th>
        <th>Name</th>
        <th>Category</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @categorizations.each do |categorization| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="checkbox"><%= check_box_tag('categorization_ids[]', categorization.id, false, :class => 'checkbox') %></td>
          <td class="name"><%= link_to(categorization.product.name, edit_shop_categorization_path(@shop, categorization)) %>
          <td><%= categorization.category.self_and_ancestors.collect { |a| a.name }.join(' > ') %></td>
          <td><%= categorization.option_groups.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
