<div id="images">
  <%= link_to(image_tag(@categorization.product.images.first.data.url(:small)), @categorization.product.images.first.data.url) %>
  <%= link_to('&lt;&lt;') %> 1 / 3 <%= link_to('&gt;&gt') %>
</div>

<div id="product">
  <h1><%= @categorization.product.name %></h1>
  <%= @categorization.product.text %>
  <% semantic_form_for(:order, :url => new_order_path, :html => { :class => 'formtastic', :method => :get }) do |f| %>
    <% f.inputs do %>
      <ol>
      <% @categorization.option_groups.each do |option_group| %>
        <li>
          <%= f.label option_group.text %>
          <%= f.select :option_ids, @categorization.options.find(:all, :conditions => ['option_group_id = ?', option_group]).collect { |o| [o.text, o.id] }, { :include_blank => true, :selected => :blank }, { :name => 'order[option_ids][]' } %>
        </li>
      <% end %>
      </ol>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button('Føj til kurv...') %>
    <% end %>
  <% end %>
</div>
