<% unless controller.action_name == 'review' %><span>Varekurv</span><% end %>
<table>
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Nummer</th>
      <th>Valg</th>
      <th>Antal</th>
      <th>Pris</th>
    </tr>
  </thead>
  <tbody>
    <% @current_user.waiting_orders.each do |order| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="name"><%= link_to(order.product.name, shop_product_path(@shop, order.product)) %></td>
        <td><%= order.product.number %></td>
        <td>
          <%= order.variations.collect { |v|
            ["<strong>#{v.option.option_group.text}</strong>", v.text_with_price(format_currency(v.price))].join(': ') }.join('<br />') %></td>
        <td>
          <%= link_to_remote('-', :update => 'cart', :url => "/shops/#{@shop.link}/orders/decrement/#{order.id}") %>
          <%= order.quantity %>
          <%= link_to_remote('+', :update => 'cart', :url => "/shops/#{@shop.link}/orders/increment/#{order.id}") %>
          (<%= link_to_remote('slet', :update => 'cart', :url => shop_user_order_path(@shop, @current_user, order), :confirm => "Slet bestilling af #{order.product.name}?", :method => :delete) %>)
        </td>
        <td><%= format_currency(order.total_price) %></td>
      </tr>
    <% end %>
    <% if !@shop.shipping_price or (@shop.shipping_threshold and (@current_user.waiting_orders_price + (@order_group.nil? ? 0 : @order_group.price)) >= @shop.shipping_threshold) %>
      <tr class="total">
        <td colspan="4">Total</td>
        <td><%= format_currency(@current_user.waiting_orders_price) %><%= @current_user.waiting_orders_price + @order_group.price %></td>
      </tr>
    <% else %>
      <tr class="total">
        <td colspan="4">Fragt</td>
        <td><%= format_currency(@shop.shipping_price) %>
      </tr>
      <tr class="total">
        <td colspan="4">Total inkl. fragt</td>
        <td><%= format_currency(@current_user.waiting_orders_price + @shop.shipping_price) %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to('G&aring; til bestilling', review_shop_user_orders_path(@shop, @current_user)) unless controller.action_name == 'review' %>
