<% semantic_form_for @order do |f| %>
  <% f.inputs do %>
    <li><%= label_tag :shop %>
    <% if @shop %>
      <%= @shop.name %></li>
      <%= f.input :user, :collection => @shop.users.all(:order => 'first_name, last_name').collect { |u| [u.name, u.id] } %>
      <%= f.input :categorization, :collection => @shop.templates.collect { |p| [p.name, p.id] } %>
    <% else %>
      <select onchange="location='/shops/'+options[selectedIndex].value+'/orders/new'">
        <option>Select shop...</option>
        <option disabled="disabled">
        <% @shops.each do |shop| %>
          <option value="<%= shop.id %>"><%= shop.name %></option>
        <% end %>
      </select>
    <% end %>
  <% end %>
  <%= f.buttons if @shop %>
<% end %>
