<h1>Tak for din bestilling!</h1>
<table>
  <tbody>
    <tr class="order_group">
      <td>Ordre #<%= @order_group.id %></td>
      <td colspan="4" class="date_price"><%= @order_group.created_at.to_s(:short) %></td>
    </tr>
    <% @order_group.orders.each do |order| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td class="name"><%= link_to(order.product.name, shop_product_path(@shop, order.product)) %></td>
        <td><%= order.product.number %></td>
        <td><%= order.variations.collect { |v| ["<strong>#{v.option.option_group.text}</strong>", v.text_with_price(format_currency(v.price))].join(': ') }.join('<br />') %></td>
        <td>
          <%= order.quantity %> stk.
          <% if order.product.total_price %>&aacute; <%= format_currency(order.product.total_price) %><% end %>
        </td>
        <td class="date_price"><%= format_currency(order.total_price) %></td>
      </tr>
    <% end %>
    <tr class="total">
      <td>Total</td>
      <td colspan="4"class="date_price"><%= format_currency(@order_group.orders.collect { |o| o.total_price }.compact.inject(0) { |b,i| b + i }) %></td>
    </tr>
  </tbody>
</table>

<h2>Kundeoplysninger</h2>
<table>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Firma:</td>
    <td><%= @shop.name %></td>
  <% end %>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Afdeling:</td>
    <td><%= @current_user.department %></td>
  <% end unless @current_user.department.blank? %>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Navn:</td>
    <td><%= @current_user.name %></td>
  <% end %>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Adresse:</td>
    <td><%= @current_user.address.gsub("\r\n", '<br />') %></td>
  <% end if @current_user.address and @order_group.address.nil? %>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Leveringsadresse:</td>
    <td><%= @order_group.address.text.gsub("\r\n", '<br />') %></td>
  <% end if @order_group.address %>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Telefon:</td>
    <td><%= @current_user.telephone %></td>
  <% end if @current_user.telephone%>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Email:</td>
    <td><%= @current_user.email %></td>
  <% end if @current_user.email %>
  <% @order_group.field_values.all.each do |value| %>
    <% content_tag :tr, :class => cycle('even', 'odd') do %>
      <td class="strong"><%= value.field.text %>:</td>
      <td><%= value.text %></td>
    <% end %>
  <% end %>
  <% content_tag :tr, :class => cycle('even', 'odd') do %>
    <td class="strong">Noter:</td>
    <td><%= markdown(@current_user.text).gsub("\r\n", '<br />') %></td>
  <% end unless @current_user.text.blank? %>
</table>

<% unless @order_group.text.blank? %>
  <h2>Kommentar</h2>
  <%= markdown(@order_group.text).gsub("\r\n", '<br />') %>
<% end %>
