<% if @user and @current_user %>
  <h1>Ordrehistorik</h1>
  <table>
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Nummer</th>
        <th>Valg</th>
        <th>Antal</th>
        <th>Pris</th>
      </tr>
    </thead>
    <tbody>
      <% @current_user.order_groups.all(:conditions => { :dummy => false }).each do |order_group| %>
        <% unless order_group.orders.empty? %>
          <% reset_cycle('even_odd') %>
          <tr class="order_group">
            <td>Ordre #<%= order_group.id %></td>
            <td colspan="4" class="date_price"><%= order_group.created_at.to_s(:short) %></td>
          </tr>
          <% order_group.orders.each do |order| %>
            <tr class="<%= cycle('even', 'odd', :name => 'even_odd') %>">
              <td class="name"><%= link_to(order.product.name, shop_product_path(@shop, order.product)) %></td>
              <td><%= order.product.number %></td>
              <td><%= order.variations.collect { |v| ["<strong>#{v.option.option_group.text}</strong>", v.text_with_price(format_currency(v.price))].join(': ') }.join('<br />') %></td>
              <td>
                <%= order.quantity %> stk.
                <% if order.product.price %>&aacute; <%= format_currency(order.product.price) %><% end %>
              </td>
              <td class="date_price"><%= format_currency(order.price) %></td>
            </tr>
          <% end %>
          <tr class="order_group order_group_total <%= cycle('even', 'odd', :name => 'even_odd') %>">
            <td>Total</td>
            <td colspan="4" class="date_price"><%= format_currency(order_group.orders.collect { |o| o.price }.compact.inject(0) { |b,i| b + i }) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% title ['List', @shop ? nil : 'all', 'orders', @shop ? "of #{@shop.name}" : nil].join(' ') %>
  <%= link_to_new('order', @shop ? new_shop_order_path(@shop) : new_order_path) %>

  <% form_tag({ :action => :multiple }, :class => 'index') do %>
    <%= submit_tag 'Delete', :name => 'destroy' %>
    <table>
      <thead>
        <tr>
          <th class="checkbox"><input class="checkbox" id="check_all" onclick="$$('form input.checkbox').each(function(box){box.checked=$('check_all').checked})" type="checkbox"></th>
          <th>Product</th>
          <%= content_tag :th, 'Shop' unless @shop %>
          <th>User</th>
          <th>Options</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Order</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td class="checkbox"><%= check_box_tag('order_ids[]', order.id, false, :class => 'checkbox') %></td>
            <td class="name"><%= link_to(order.product.name, edit_shop_product_path(order.product.shop, order.product)) %></td>
            <%= content_tag :td, link_to(order.user.shop.name, shop_orders_path(order.user.shop)) unless @shop %>
            <td><%= link_to(order.user.name, edit_shop_user_path(order.user.shop, order.user)) %></td>
            <td><%= order.variations.collect { |v| "<abbr title=\"#{v.option.option_group.text}\">#{v.option.text}</abbr>" }.join(', ') %></td>
            <td><%= order.quantity %></td>
            <td><%= format_currency(order.price) %></td>
            <td>#<%= order.order_group.id %><%= ' (dummy)' if order.order_group.dummy %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
