<h1>Varekurv for <%= @current_user.name %></h1>
  <div id="cart">
    <%= render 'cart' %>
  </div>
<% form_tag(accept_shop_user_orders_path(@shop, @current_user), { :class => 'accept formtastic' }) do %>
  <fieldset>
    <%= content_tag :div, flash[:error], :id => 'error' if flash[:error] %>
    <ol>
      <% unless @shop.addresses.empty? and @current_user.address.nil? %>
        <li>
          <%= label_tag :address, 'Leveringsadresse' %>
          <% if @shop.addresses.count + (@current_user.address.empty? ? 0 : 1) > 1 %>
            <select name="order_group[address_id]">
              <option selected="selected" value="">V&aelig;lg leveringsadresse...</option>
              <option disabled="disabled" />
              <% unless @current_user.address.empty? %>
                <option value="0"><%= @current_user.address.gsub("\r\n", ', ') %></option>
              <% end %>
              <% @shop.addresses.each do |address| %>
                <option value="<%= address.id %>"><%= address.text.gsub("\r\n", ', ') %></option>
              <% end %>
            </select>
          <% elsif @shop.addresses.count + (@current_user.address.empty? ? 0 : 1) == 1 %>
            <%= @shop.addresses.first ? @shop.addresses.first.text.gsub("\r\n", ', ') : @current_user.address.gsub("\r\n", ', ') %>
          <% end %>
        </li>
      <% end %>
      <li class="text">
        <%= label_tag :text, 'Kommentar' %>
        <%= text_area_tag 'order_group[text]', nil, :rows => 4 %>
      </li>
      <li class="accept">
        <%= submit_tag('Accepter bestilling') %>
      </li>
    </ol>
  </fieldset>
<% end %>
