<tr>
  <%= td_check_box(order_group) %>
  <%= td_order_group(order_group) %>
  <%= td_link_to_shop(order_group) %>
  <td><%= user_text(order_group) %></td>
  <%= td_products(order_group) %>
  <td><%= truncated_tooltip(order_group.field_values.collect(&:text) * ', ') %></td>
  <td class="price"><%= format_currency(order_group.price_with_shipping) %></td>
  <td class="time"><%= order_group.created_at.date %></td>
  <%= td_delete(order_group) %>
</tr>
