<% semantic_form_for [@shop, @product] do |f| %>
  <% f.inputs do %>
    <li class="string">
      <%= f.label :name %>
      <%= text_field_tag(:template_name, @product.name, :disabled => true) %>
    </li>
    <li class="string">
      <%= f.label :number %>
      <%= text_field_tag(:template_number, @product.number, :disabled => true) %>
    </li>
    <li class="string">
      <%= f.label :brand %>
      <%= text_field_tag(:template_brand, @product.brand, :disabled => true) %>
    </li>
    <li class="text">
      <%= f.label :text %>
      <%= text_area_tag(:template_text, @product.text, { :disabled => true, :rows => 20 }) %>
    </li>
  <% end %>
  <% f.inputs do %>
    <%= f.input :price, :label => "Gross Price (#{@shop.currency})" %>
    <%= f.input :net_price, :label => "Net Price (#{@shop.currency})" %>
    <%= f.input :images, :as => :check_boxes, :collection => @product.template.images %>
    <%= f.input :category, :as => :radio, :collection => categories_collection %>
    <%= link_to_new('category', new_shop_category_path(@shop)) %>
    <% @product.option_groups.each do |option_group| %>
      <%= f.input :options, :as => :check_boxes, :label => option_group.text, :collection =>
        option_group.options.all(:order => 'position').collect { |o| [[o.text, o.separator ? '(separator)' : nil].join(' '), o.id] } %>
      <%= link_to_new('option', new_option_group_option_path(option_group)) %>
    <% end %>
    <%= f.input :option_groups, :as => :check_boxes, :collection => OptionGroup.all.collect { |og| [og.name, og.id] } %>
    <%= link_to_new('option group', new_option_group_path) %>
    <%= link_to('Edit option prices', shop_product_variations_path(@shop, @product)) %>
  <% end %>
  <%= f.buttons %>
<% end %>
