<tr>
  <td class="checkbox"><input type="checkbox"></td>
  <td class="name"><%= link_to(product.name, edit_product_path(product)) %>
  <td><%= product.number %></td>
  <td><%= product.brand %></td>
  <td><%#= product.shops.collect('&name').join(', ') %></td>
  <td><%= product.created %></td>
  <td><%= product.updated %></td>
</tr>
