<tr class="<%= cycle('odd', 'even') %>">
  <td class="checkbox">
    <%= check_box_tag('product_ids[]', product.id) %>
  </td>
  <td class="name"><%= link_to(product.name, edit_product_path(product)) %>
  <td><%= product.number %></td>
  <td><%= product.brand %></td>
  <td><%= product.categorizations.collect { |c| link_to(c.category.shop.name, shop_categorizations_path(c.category.shop)) }.flatten.join(', ') %></td>
  <td><%= product.created %></td>
  <td><%= product.updated %></td>
</tr>
