<% title "List products for #{@shop.name}" %>
<%= link_to('Add products', templates_path) %>

<% form_tag("/shops/#{@shop.link}/products/multiple", :class => 'index') do %>
  <%= submit_tag 'Delete', :name => 'destroy' %>
  <table>
    <thead>
      <tr>
        <th />
        <th class="checkbox"><input class="checkbox" id="check_all" onclick="$$('form input.checkbox').each(function(box){box.checked=$('check_all').checked})" type="checkbox"></th>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Images</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody id="products_list">
      <% @products.each do |product| %>
        <tr id="<%= dom_id(product) %>" class="<%= cycle('odd', 'even') %>">
          <td class="handle">[drag]</td>
          <td class="checkbox"><%= check_box_tag('product_ids[]', product.id, false, :class => 'checkbox') %></td>
          <td class="name"><%= link_to(product.number, edit_shop_product_path(@shop, product)) %>
          <td><%= product.name %></td>
          <td><%= [format_currency(product.price), product.net_price ? "(#{format_currency(product.net_price)})" : nil].join(' ') %></td>
          <td><%= product.category.self_and_ancestors.collect { |a| a.name }.join(' > ') if product.category %></td>
          <td><%= product.images.count %></td>
          <td><%= product.option_groups.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= sortable_element('products_list', :tag => 'tr', :url => sort_shop_products_path(@shop)) %>
