<% title 'List all products' %>
<%= link_to_new('product', new_product_path) %>

<% form_tag({ :action => :multiple }, :class => 'index') do %>
  <%= submit_tag 'Delete', :name => 'destroy' %>
  <select onchange="this.form.submit()" name="shop_id">
    <option>Add to shop...</option>
    <option disabled="disabled" />
    <% @shops.each do |shop| %>
      <option value="<%= shop.id %>"><%= shop.name %></option>
    <% end %>
  </select>

  <table>
    <thead>
      <tr>
        <th class="checkbox"><input class="checkbox" id="check_all" onclick="$$('form input.checkbox').each(function(box){box.checked=$('check_all').checked})" type="checkbox"></th>
        <th>Name</th>
        <th>Number</th>
        <th>Brand</th>
        <th>Shops</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="checkbox"><%= check_box_tag('product_ids[]', product.id, false, :class => 'checkbox') %></td>
          <td class="name"><%= link_to(product.name, edit_product_path(product)) %>
          <td><%= product.number %></td>
          <td><%= product.brand %></td>
          <td><%= product.categorizations.collect { |c| link_to(c.category.shop.name, shop_categorizations_path(c.category.shop)) }.flatten.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
