<% title 'List Products' %>
<% form_tag(:action => :multiple) do %>
  <%= link_to_new('product', new_product_path) %>
  <%= submit_tag('Edit',   :disabled => true, :name => 'edit') %>
  <%= submit_tag('Copy',   :disabled => true, :name => 'copy') %>
  <%= submit_tag('Delete', :disabled => true, :name => 'delete') %>

  <select onchange="this.form.submit()" name="shop_id">
    <option>Add to shop...</option>
    <option disabled="disabled" />
    <%- @shops.each do |shop| -%>
      <option value="<%= shop.id %>"><%= shop.name %></option>
    <%- end -%>
  </select>

  <table>
    <thead>
      <tr>
        <th class="checkbox"><input type="checkbox"></th>
        <th>Name</th>
        <th>Number</th>
        <th>Brand</th>
        <th>Shops</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <%= render @products unless @products.nil? %>
    </tbody>
  </table>
<% end %>
