<% title "List products for #{@shop.name}" %>
<%= link_to('Add products', templates_path) %>

<% form_tag("/shops/#{@shop.link}/products/multiple", :class => 'index') do %>
  <%= submit_tag 'Delete', :name => 'destroy' %>
  <table>
    <thead>
      <tr>
        <th class="checkbox"><input class="checkbox" id="check_all" onclick="$$('form input.checkbox').each(function(box){box.checked=$('check_all').checked})" type="checkbox"></th>
        <th>Name</th>
        <th>Category</th>
        <th>Images</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="checkbox"><%= check_box_tag('product_ids[]', product.id, false, :class => 'checkbox') %></td>
          <td class="name"><%= link_to(product.template.name, edit_shop_product_path(@shop, product)) %>
          <td><%= product.category.self_and_ancestors.collect { |a| a.name }.join(' > ') %></td>
          <td><%= product.images.count %></td>
          <td><%= product.option_groups.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
