<div id="images">
  <% if @product.images.count > 1 %>
    <div><%= link_to('&lt;&lt;') %> 1 / <%= @product.images.count %> <%= link_to('&gt;&gt') %></div>
  <% end %>
  <%= link_to(image_tag(@product.thumbnail), @product.images.first.data.url) if @product.thumbnail %>
</div>

<div id="product">
  <h1><%= @product.name %></h1>
  <%= markdown(@product.text) %>
  <% semantic_form_for(:order, :url => shop_user_orders_path(@shop, @current_user), :html => { :class => 'formtastic', :method => :post }) do |f| %>
    <% if @product.option_groups.count > 0 %>
      <% f.inputs do %>
        <ol>
        <% @product.option_groups.each do |option_group| %>
          <li>
            <%= f.label option_group.text %>
            <% if option_group.options.count > 1 or option_group.optional %>
              <select name="order[variation_ids][]">
                <%= '<option />' if option_group.optional %>
                <% @product.options.all(:order => 'position').each do |option| %>
                  <% if option.option_group === option_group %>
                    <% if option.separator %>
                      <option disabled="disabled" />
                      <option disabled="disabled"><%= option.text %></option>
                    <% else %>
                      <option value="<%= option.variations.find(:first, :conditions => { :product_id => @product.id }).id %>"><%= option.text %></option>
                    <% end %>
                  <% end %>
                <% end %>
              </select>
            <% else %>
              <%= option_group.options.first.text %>
            <% end %>
          </li>
        <% end %>
        </ol>
      <% end %>
    <% end %>
    <fieldset>
      <ol>
        <li>
          <%= f.label 'Antal' %>
          <select name="order[quantity]">
            <% (1..10).each do |quantity| %>
              <option value="<%= quantity %>"><%= quantity %></option>
            <% end %>
          </select>
        <li>
          <%= f.label 'Pris' %>
          <%= f.input :price, :as => :hidden, :value => @product.price %>
          <span class="price"><%= format_currency(@product.price) %></span>
        </li>
      </ol>
    </fieldset>
    <% f.buttons do %>
      <%= f.input :product_id, :as => :hidden, :value => @product.id %>
      <%= f.commit_button('Føj til kurv...') %>
    <% end %>
  <% end %>
</div>
