<div id="images">
  <%= link_to(image_tag(@product.thumbnail), @product.images.first.data.url) %>
  <%= link_to('&lt;&lt;') %> 1 / <%= @product.images.count %> <%= link_to('&gt;&gt') %>
</div>

<div id="product">
  <h1><%= @product.name %></h1>
  <%= @product.text %>
  <% semantic_form_for(:order, :url => new_order_path, :html => { :class => 'formtastic', :method => :get }) do |f| %>
    <% if @product.option_groups.count > 0 %>
      <% f.inputs do %>
        <ol>
        <% @product.option_groups.each do |option_group| %>
          <li>
            <%= f.label option_group.text %>
            <% if option_group.options.count == 1 or option_group.optional %>
              <select name="option_ids">
                <%= '<option />' if option_group.optional %>
                <% @product.options.each do |option| %>
                  <% if option.option_group === option_group %>
                    <% if option.separator %>
                      <option disabled="disabled" />
                      <option disabled="disabled"><%= option.text %></option>
                    <% else %>
                      <option value="<%= option.id %>"><%= option.text %></option>
                    <% end %>
                  <% end %>
                <% end %>
              </select>
            <% else %>
              <%= option_group.options.first.text %>
            <% end %>
          </li>
        <% end %>
        </ol>
      <% end %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button('Føj til kurv...') %>
    <% end %>
  <% end %>
</div>
