<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= h(yield(:title) || 'Untitled') %></title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>
    <%= javascript_include_tag :defaults %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <div class="content">
        <span class="logout"><%= [[Time.now.day, Time.now.month].join('/'), [Time.now.hour, Time.now.min].join(':')].join(' - ') %><br /><a href="#">Logout</a></span>
        <h1>Baze Shop System</h1>
      </div>
    </div>

    <div id="nav">
      <div class="content">
        <ul>
          <li><%= link_to('Dashboard', root_path,         :class => 'admins' == controller.controller_name ? 'active' : 'inactive') %></li>
          <li><%= link_to('Shops',    shops_path,         :class => ['shops', 'categories'].include?(controller.controller_name) ? 'active' : 'inactive') %></li>
          <li><%= link_to_function('Users', "$('orders').hide();$('products').hide();$('users').show();$('subnav').slideDown({ duration: 0.5 });", :class => 'users' == controller.controller_name ? 'active' : 'inactive') %></li>
          <li><%= link_to_function('Products', "$('orders').hide();$('users').hide();$('products').show();$('subnav').slideDown({ duration: 0.5 });", :class => ['products', 'templates'].include?(controller.controller_name) ? 'active' : 'inactive') %></li>
          <li><%= link_to_function('Orders', "$('products').hide();$('users').hide();$('orders').show();$('subnav').slideDown({ duration: 0.5 });", :class => 'orders' == controller.controller_name ? 'active' : 'inactive') %></li>
          <li><%= link_to('Options',  option_groups_path, :class => ['option_groups', 'options'].include?(controller.controller_name) ? 'active' : 'inactive') %></li>
        </ul>
      </div>
    </div>

    <% if ['orders', 'products', 'templates', 'users'].include?(controller.controller_name) %>
      <div id="subnav">
    <% else %>
      <div id="subnav" style="display: none;">
    <% end %>
      <div class="content">
        <% if 'users' == controller.controller_name %>
          <ul id="users">
        <% else %>
          <ul id="users" style="display: none;">
        <% end %>
          <li><%= link_to('All users', users_path, :class => @shop ? 'inactive' : 'active') %></li>
          <% Shop.all.each do |shop| %>
            <li>
              <%= link_to(shop.link, shop_users_path(shop), :class => @shop === shop ? 'active' : 'inactive') %>
            </li>
          <% end %>
        </ul>

        <% if ['products', 'templates'].include?(controller.controller_name) %>
          <ul id="products">
        <% else %>
          <ul id="products" style="display: none;">
        <% end %>
          <li><%= link_to('All templates', templates_path, :class => @shop ? 'inactive' : 'active') %></li>
          <% Shop.all.each do |shop| %>
            <li>
              <%= link_to(shop.link, shop_products_path(shop), :class => @shop === shop ? 'active' : 'inactive') %>
            </li>
          <% end %>
        </ul>

        <% if 'orders' == controller.controller_name %>
          <ul id="orders">
        <% else %>
          <ul id="orders" style="display: none;">
        <% end %>
          <li><%= link_to('All orders', order_groups_path, :class => @shop ? 'inactive' : 'active') %></li>
          <% Shop.all.each do |shop| %>
            <li>
              <%= link_to(shop.link, shop_order_groups_path(shop), :class => @shop === shop ? 'active' : 'inactive') %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
      

    <div id="fortune">
      <div class="content">
        <strong>Error</strong>: <%= fortune %>
      </div>
    </div>

    <div class="content" id="content">
      <%= content_tag(:div, [flash[:notice], link_to_function('Hide', "$('notice').fade()")].join(' - '), :id => 'notice') if flash[:notice] %>
      <%= content_tag(:div, [flash[:error], link_to_function('Hide', "$('error').fade()")].join(' - '), :id => 'error') if flash[:error] %>
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
        
      <%= yield %>
    </div>

    <div id="footer">
      <div class="content">
        &copy; 2009-<%= Time.now.year %> Baze A/S
      </div>
    </div>
  </body>
</html>
